<ion-header>
  <ion-toolbar>
    <ion-title>Sites list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <div class="w-100 h-100 d-flex ion-align-items-center ion-justify-content-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>

<ion-content *ngIf="!isLoading">
  <div class="w-100 border-bottom d-flex ion-align-items-center ion-justify-content-between" *ngIf="testChip()">
    <div class="d-flex ion-align-items-center">
      <ion-chip *ngIf="this.filters.search" (click)="presentPopover($event)">
        <ion-label>Query</ion-label>
      </ion-chip>

      <ion-chip *ngIf="this.filters.category" style=" overflow: hidden" (click)="presentPopover($event)">
        <ion-label>Category</ion-label>
      </ion-chip>

      <ion-chip *ngIf="this.filters.region" style=" overflow: hidden" (click)="presentPopover($event)">
        <ion-label>Region</ion-label>
      </ion-chip>

      <ion-chip *ngIf="this.filters.states.length > 0" style=" overflow: hidden" (click)="presentPopover($event)">
        <ion-label>States</ion-label>
      </ion-chip>
    </div>

    <ion-icon (click)="deleteFilters()" name="close-circle" style="transform: scale(1.5)" class="d-flex ion-justify-content-center ion-align-items-center text-danger mr-2"></ion-icon>

  </div>

  <ion-list>
    <ion-item *ngFor="let site of sites" button (click)="showDetails(site.recordid)">
      <div class="w-100 mt-2 mb-1 d-flex align-items-center" style="height: 5.5em">
        <img width="80px" height="80px" [src]="imgURL + site.fields.image_url.filename" class="rounded-circle mr-3">
        <div class="h-100 w-100 pt-1 pb-2 d-flex flex-column ion-justify-content-between">
          <div style="height: 1em; line-height: 1em; overflow: hidden; word-break: break-all; font-size: 90%" class="font-weight-bold">{{site.fields.site}}</div>
          <div class="d-flex ion-justify-content-between ion-align-items-center">
            <small>{{site.fields.category}}</small>
            <small>{{site.fields.region.includes('Latin America') ? 'Latin America' : site.fields.region}}</small>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentSearchModal()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="onScroll()">
    <ion-infinite-scroll-content
            loadingSpinner="circular">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
